body {
  width: 200px;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: lightgrey;
  user-select: none;
}

#heading {
  color: #6e56cf;
  font-size: 1.25rem;
  margin-top: 5px;
}
