body {
  width: 200px;
  height: auto;
  margin: 0px 0px 5px 0px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #1f1f1f;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#timeInput {
  margin-bottom: 10px;
  padding: 5px;
  outline: none;
  border-style: none;
  background-color: rgb(24, 24, 24);
  color: lightgrey;
}

#jumpButton {
  padding: 5px 10px;
  background-color: #6e56cf;
  border-style: none;
  user-select: none;
}

#heading {
  padding: 0px;
  margin-bottom: 10px;
  margin-top: 0px;
  color: #6e56cf;
  font-size: 1.25rem;
  user-select: none;
}
